
<div fxLayout="column" class="outerlayout">
    <div fxFill="10" class="headding">  
      <div fxLayout="row" fxLayoutAlign="start center"  class="image-icon"> 
          <button mat-stroked-button>
              <img src="assets/img/ipl-logo.png" height="50px" width="150px">
          </button>
      </div>
      <div class="filters" fxLayout="row" fxLayoutAlign="end center">
          <div class="seasons filter">
            <mat-form-field appearance="fill">
              <mat-label>select a season</mat-label>
               <mat-select >     
                    <mat-option *ngFor="let sea of Seasons" value="sea.value">{{sea.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

      </div>
    </div>
</div>