/* app-root {
    display: block;
    height: 100%
} */


.outerlayout{
    position: relative;
    background-color: #cfe2f3;
    height: 100%;
    width: 100%;
}

.headding{
    position: relative;
    width: 100%;
    height: fit-content;
    border: solid 2px black;
}

.image-icon{
    width: fit-content;
    left: 10px;
    border: transparent;
}

.filters{
    position: relative;
    left: 40%;
    bottom: 0%;
    height: 100%;
    background-color: white;
    border: transparent 2px;
}

.content{
    position: relative;
    top: 0%;
    height: 90%;
    width: 100%;
    background-color: #cfe2f3;
    border:solid 2px black;
}

/* .side-menu{
    position: absolute;
    top: 0%;
    width: 15%;
    height: 100%;
    background-color: #e7e7e7;
    border: solid 2px black;
} */

.table-chart{
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;
    border:solid 2px black;
}

app-content-headder{
    position: relative;
    width: 100%;
    height: 10%;
    border: solid 2px black;
}

/* .main-content{
    position: relative;
    left: 15%;
    width: 85.2%;
    height: 90%;
    border: solid 2px black;
} */

app-menu{
    background-color: #e7e7e7;
}