
<div fxLayout="column" fxFlex class="outerlayout">
  <div  fxLayout="row" class="app-icon" fxFlex="20" fxLayoutAlign="start center">
    <md-button>
      <img class="png-icon"  src="./ipl-logo.png" >
   </md-button>
   <div class="header filters" fxLayout="row" fxFlex fxLayoutAlign="end end"> 
   <mat-form-field  appearance="fill"  >
      <mat-label>2021 SEASON</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value ? toppings.value[0] : ''}}
          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>2021 ALL TEAMS</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value ? toppings.value[0] : ''}}
          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>ALL PLAYERS</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value ? toppings.value[0] : ''}}
          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"> home </mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon"> home </mat-icon> -->
    <div class="menu" fxFlex="20" fxLayout="column" >
      <div fxLayout="row" fxLayoutAlign="start none">
        <app-menu ></app-menu>
      </div>
    
    <div fxLayout="column" class="content" fxFlex fxLayoutAlign="center center">  
      <div class ="content-menu" fxFlex="20" fxLayout="row" fxLayoutAlign="center start">
        <app-content-menu></app-content-menu>
      </div>
      <div fxLayout="row" fxFlex fxLayoutAlign="center center">
        <app-content></app-content>
      </div>    
    </div>
  </div>
  </div>